
* {
  font-family: 'Rubik', sans-serif;
}

.App {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.list {
    border: 1px solid #f3f3f3f3;
    padding: 20px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 6px -6px #777;
}

.list-item {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #898989
}

.list-item span {
  flex-grow: 1;
  text-align: left;
}


.list-item input {
  margin-left: 10px;
}

.button-wrap {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}